body {
    background-image: url("img/komnata.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    background-position: top center;
}
table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
}
table, th, td {
    width: 50%;
}
thead, tbody tr {
    display: table;
    width: 100%;
    text-align: center;
    color: wheat
}
thead tr th {
    width: 50%;
}
tbody tr th {
    width: 50%;
}
tbody tr:hover {
    background-color: #555555;
}
tbody {
    display: block;
    width: 100%;
    max-height: 200px;
    overflow: auto;
}
div {
    color: wheat
}
.question-block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 15%;
    z-index: 15;
    top: 45%;
    word-break: break-all;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

/* Мрачная кнопка для допроса */

.btn-допрос {
  background-color: #333;
  border: 2px solid #555;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.btn-допрос:hover {
  background-color: #555;
  border-color: #777;
}

.btn-допрос:active {
  background-color: #777;
  border-color: #999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
